.main-comment-list-wrapper{
	.form-wrapper{
		display: flex;
		flex-direction: column;
		background: #e7e7e7;
		padding:10px;

		input{
			padding: 15px;
			margin: 10px;
		}
		textarea{
			margin: 10px;
			padding: 15px;
			resize: none;
			outline: none;
			border: 1px solid  #cfcfd9;
		}
		button{
			background: #47bff9;
			border: 1px solid transparent;
			border-radius: 4px;
			padding: 10px;
			color: white;
			text-transform: uppercase;
			width: 100px;
			align-self: flex-end;
			margin: 10px;
		}
	}
	.comment-wrapper{
		padding:20px;
		display: flex;
		flex-direction: column;
		background: #ffffff;
		input{
			padding: 10px 15px;
		}
		.comment-list{
			list-style: none;
			padding: 0;
			li{
				display: flex;
				img{
					margin-right: 10px;
					border-radius: 4px;
				}
				.email{
					margin-bottom:0;
					color: #565656;
					font-size: 14px;
					font-weight: 100;
				}
				.content{
					margin-top: 5px;
					color: #8a8a8a;
					font-size: 14px;
					font-weight: 100;
				}
			}

		}
	}
}